@using WebApplication5.Models;
@using WebApplication5.ViewModels

@model ProductFilterViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Product" asp-action="Index">
    <p>
        <label>
            Категории:
            <select asp-items="@Model.Categories" asp-for="@Model.NameCategory">
                <option value="">--</option>
            </select>
        </label>

        <label>
            Сортировка:
            <select asp-for="@Model.SortedType">
                <option value="0">--</option>
                <option value="1">По возрастанию</option>
                <option value="2">По убыванию</option>
            </select>
        </label>

        <label>Название: <input type="text" asp-for="@Model.ProductName" /></label>
        <input type="submit" value="Поиск">
    </p>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Cost
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Category
                </td>
                <td>
                    @item.Cost
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete"
                       asp-route-id="@item.Id"
                       asp-route-name="@item.Name"
                       asp-route-cost="@item.Cost"
                       asp-route-category="@item.Category">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.PageViewModel.HasPreviousPage ? string.Empty : "disabled")">
            <a class="page-link"
               tabindex="-1"
               role="button"
               aria-disabled="@(!Model.PageViewModel.HasPreviousPage)"
               asp-controller="Product"
               asp-action="Index"
               asp-route-page="@(Model.Page - 1)"
               asp-route-productName="@Model.FilterName"
               asp-route-nameCategory="@Model.NameCategory"
               asp-route-sortedType="@Model.SortedType">
                Назад
            </a>
        </li>

        @for (int pageNumber = 1; pageNumber <= Model.PageViewModel.TotalPage; pageNumber++)
        {
            <li class="page-item @(Model.Page == pageNumber ? "active" : string.Empty)">
                <a class="page-link"
                   asp-controller="Product"
                   asp-action="Index"
                   asp-route-page="@pageNumber"
                   asp-route-productName="@Model.FilterName"
                   asp-route-nameCategory="@Model.NameCategory"
                   asp-route-sortedType="@Model.SortedType">@pageNumber</a>
            </li>
        }

        <li class="page-item @(Model.PageViewModel.HasNextPage ? string.Empty : "disabled")">
            <a class="page-link"
               tabindex="-1"
               role="button"
               aria-disabled="@(!Model.PageViewModel.HasNextPage)"
               asp-controller="Product"
               asp-action="Index"
               asp-route-page="@(Model.Page + 1)"
               asp-route-productName="@Model.FilterName"
               asp-route-nameCategory="@Model.NameCategory"
               asp-route-sortedType="@Model.SortedType">
                Вперёд
            </a>
        </li>
    </ul>
</nav>